<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Home Page</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/BadScript/BadScript-Regular.ttf">
    <link rel="stylesheet" href="../assets/fonts/NerkoOne/NerkoOne-Regular.ttf">
    <style>
        h2.header-name {
            font-family: cursive;
        }

        p {
            text-align: justify;
        }
    </style>
</head>
<body class="container-fluid">
<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <h2 class="header-name">Hello My name's Yan</h2>
                    <hr>
                    <table width="100%">
                        <tr>
                            <td>Nama</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>Muhamad Yasir Noval</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>Mahasiswa</td>
                        </tr>
                        <tr>
                            <td>Sekolah</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>Universitas Jenderal Achmad Yani (UNJANI Cimahi)</td>
                        </tr>
                        <tr>
                            <td>Program Studi</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>Informatika</td>
                        </tr>
                        <tr>
                            <td>NIM</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>2350081004</td>
                        </tr>
                        <tr>
                            <td>Angkatan</td>
                            <td>&nbsp;:&nbsp;</td>
                            <td>23</td>
                        </tr>
                    </table>
                    <br>
                    <hr>
                    <h4 class="mb-4">Pengenalan singkat</h4>
                    <p>Halo perkenalakan nama saya Muhamad Yasir Noval, saya biasanya dipanggil Yasir. Saya adalah
                        seorang mahasiswa dari Universitas Jenderal Achmad Yani (UNJANI Cimahi) dari Fakultas Sains dan
                        Informatika (FSI) dengan Program Studi Informatika. Saya adalah mahasiswa semester 2 tapi saya
                        memiliki pengalaman lebih dari 4 tahun dalam dunia IT terutama pemrograman. Saya mendapatkan
                        pengalaman tersebut ketika saya masih duduk dibangku SMK. Pada saat SMK saya belajar tentang
                        Pemrograman Dasar dengan menggunakan bahasa C/C++ dan Java, tidak hanya itu selain belajar
                        pemrograman dasar saya mempelajari pemrograman Web dengan menggunakan HTML, CSS, JS dan PHP
                        sebagai Bahasa dalam membuat sebuah website, MariaDB dan MySQL saya gunakan untuk membuat sebuah
                        sistem basisdata untuk menampung semua data yang diperlukan dalam pemrograman, serta saya juga
                        mempelajari sebuah Framework untuk membantu saya dalam membuat sebuah project berbasis web yaitu
                        Bootstrap.</p>
                </div>
                <div class="col-6 col-sm-6">
                    <div class="container">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8 mt-3">
                                <img src="../assets/image/it.jpg" alt="" class="rounded-5 img-thumbnail">
                            </div>
                            <div class="col-2"></div>
                        </div>
                        <br>
                        <hr>
                        <h4>Pendidikan Formal</h4>
                        <ul>
                            <li>2023-Sekarang: Universitas Jenderal Achmad Yani</li>
                            <li>2020-2023: SMK AL-IHSAN Batujajar</li>
                            <li>2017-2020: SMPN 1 Batujajar</li>
                            <li>2011-2017: SDN Sukamaju</li>
                        </ul>
                        <hr>
                        <h4>Organisasi: </h4>
                        <p>Tidak pernah ikut organisasi apapun</p>
                        <h4 class="mt-5">Sosial Media: </h4>
                        <p>Tidak punya sosial media</p>
                    </div>
                </div>
            </div>
            <hr>
            <h4 class="mt-4 mb-3">Pengalaman :</h4>
            <div class="row">
                <div class="col-4">
                    <h6>Pemrogrman</h6>
                    <ul>
                        <li>Java</li>
                        <li>C/C++</li>
                        <li>PHP</li>
                        <li>JavaScript</li>
                        <li>HTML & CSS</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h6>Databases</h6>
                    <ul>
                        <li>MariaDB/MySQL</li>
                    </ul>
                </div>
                <div class="col-4">
                    <h6>Framework</h6>
                    <ul>
                        <li>Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../js/bootstrap.js"></script>
</body>
</html>